
.footer{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: rgb(119, 189, 236);
}

.footer2{
  text-align: center;
  color: white;
  width: 50%;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
}
  
.footerIconsUL{
  list-style-type: none;
  display: flex;
}

.footerIconsLI{
  padding: 10px;
  margin: 0px 20px;
}

.achor{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.divstyle{
  color: white;
 text-align: center;
background-color: #474545;
}

.li{
  list-style-type: none;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;  
  color: white;
  margin: 0px 30px ;
  }

.lili{
    text-decoration: none; 
    color: white;
}

.lili:hover{
  text-decoration: none; 
  color: black;
}

.li li:hover{
  color: black;
}